*{
    text-decoration: none !important;
}
 
body {
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden !important;
    margin: 0px !important;
    padding: 0px !important;
}
 
.nav {
    /* position: fixed; */
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    background-color: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
 
.nav .links a {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-right: 25px;
}
 
.nav .links .mainlink {
    color: #e0501b;
}
 
.nav .links .sublinks:hover {
    opacity: 0.5;
    color: #000;
}
 
.nav h4 {
    font-weight: bold;
    margin-left: 25px;
    cursor: pointer;
    font-size: 22px;
}